
body {
	background:#71FFAA;
	color:#000000;
	font:normal 10pt Verdana, arial, verdana;
}
p {
	margin:8px,0px;
}
a {
	color:#000000;
}
table{
	color:#000000;
	font:normal 10pt Verdana, arial, verdana;
	border:0px; 
}
h1 {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	font:bold 18pt Arial, arial, verdana;
	color:#008040;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
h1 a {
	color:#008040;
}
h2 {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	font:bold 14pt Arial, arial, verdana;
	color:#008040;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
h2 a {
	color:#008040;
}
h3 {
	margin: 10px 0px 10px 0px;
	padding: 8px 10px 8px 10px;
	background: #008040;
	font:bold 12pt Arial, arial, verdana;
	color:#FFFFFF;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
h3 a {
	color:#FFFFFF;
}
h4 {
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	background: #ACFFA8;
	font:bold 10pt Arial, arial, verdana;
	color:#000000;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
h4 a {
	color:#000000;
}